/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("../src/assets/screencapture-colorlib.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
html {
    height: 100%
}