<div class="location-page container">
  <form class="custom-style form-horizontal" ngNativeValidate (submit)="addLocation()">
      <h1>Locations</h1>
    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" class="form-control" [(ngModel)] = "user_id" name="user_id" placeholder="User ID" required="required">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <input type="email" class="form-control" [(ngModel)] = "email" name ="name" placeholder="Email" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" class="form-control" [(ngModel)] = "city" name="city" placeholder="City" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" class="form-control" [(ngModel)] = "country" name="country" placeholder="Country" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-success" value="Submit">
      </div>
    </div>
  </form>

  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">Email</th>
        <th scope="col" colspan="2">Geo Location</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="thead-dark">
      <tr *ngFor="let location of locations">
        <td>{{location.user_id}}</td>
        <td>{{location.email}}</td>
        <td>{{location.geoLocation.country}}</td>
        <td>{{location.geoLocation.city}}</td>
        <td>
          <input type="button" (click)="deleteLocation(location._id)" value="Delete" class="btn btn-danger" />
        </td>
      </tr>
    </tbody>
  </table>
</div>